@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css');

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeSlideDown {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadeSlideDown 0.2s ease-out 0.5s forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeSlideUp {
  opacity: 0;
  transform: translateY(15px);
  animation: fadeSlideUp 0.2s ease-out 0.5s forwards;
}

//애니메이션 효과
.slideIn {
  animation: slideInFromRight 0.7s ease-out forwards;
}

.slideInUp {
  animation: slideInFromBottom 0.7s ease-out forwards;
  will-change: transform, opacity;
}

.heroBanner {
  position: relative;
  width: 100%;
  height: 21rem;
  background-image: url('../assets/images/baskinrabins.webp'); // 배경 이미지 경로
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  text-align: center;
  color: white;

  h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 2em;
  }

  p {
    font-size: 6rem;
    font-weight: 800;
    margin-top: 0.2em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr; // 가운데가 더 넓게
  gap: 0.75rem;
  padding: 0.5rem;
}

.card {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 23rem; // 원하는 세로 길이
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.cardText {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  text-align: left;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); // 글자 가독성 보완
}

.cardText h3 {
  margin: 0.5rem;
  font-size: clamp(1.5em, 4vw, 1.5em);
  font-weight: 700;
}

.cardText p {
  margin: 0 0.5rem;
  font-size: clamp(2em, 4vw, 2em);
  font-weight: 700;
}
